  <br>
  <br>


  <%= render "banner", cocktail: @cocktail %>

  <h1 class = "text-center"><span class="glyphicon glyphicon-glass"></span>        <%= @cocktail.name  %>         <span class="glyphicon glyphicon-glass"></span></h1>

  <br>
  <br>
  <br>

    <% @cocktail.doses.each_with_index do |dose, index| %>


    <div class="list-drinks">

      <div class="drink">
        <ul class ="drink-premier list-inline">
          <li><h2 class="drink-number"><%= "#{index + 1}"%></h2></li>
          <li><h3><%= "#{dose.ingredient.name}"%> </h3></li>
        </ul>

          <span class="drink-description">
            <h3><%= "#{dose.description}" %></h3>
          </span>
        </span>

        <br>
        <br>

        <span class="drink-link">
          <%=link_to "Delete", cocktail_dose_path(@cocktail,dose.id), method: :delete%>
        </span>

        <br>
        <br>
        <br>
      </div>

    <%end%>

  </div>


  <h4 class = "text-center"><%=link_to "Add a dose", new_cocktail_dose_path(@cocktail) %></h4>

